<div class="container">
  <div class="section">
    <div class="row">
      <%= render file: 'common/slidebar' %>
      <div class="col s9">
        <h5>Show Instance</h5>
        <table class="bordered striped centered">
          <thead>
            <tr>
              <th>Host Name</th>
              <th>Images</th>
              <th>CPU nodes</th>
              <th>Storage</th>
              <th>RAM</th>
              <th>IP</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @instances.each do |instance| %>
              <tr>
                <td><%= instance.name %></td>
                <td><%= @image_names[instance.os.to_i] %></td>
                <td><%= instance.cpu %></td>
                <td><%= instance.storage %> GB</td>
                <td><%= instance.ram %> MB</td>
                <td><%= instance.ip_addr %></td>
                <td>
                  <% if instance.status == 1 then %>
                    Running
                  <% elsif instance.status == 2 then %>
                    Mounted
                  <% else %>
                    Stopped
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
